# Байт-код и временные файлы Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Виртуальные окружения
venv/
.env/
.venv/

# Файлы дистрибутивов и артефакты упаковки
dist/
*.egg-info/
build/

# Логи и отладочные файлы
*.log
*.log.*

# Кэши и временные файлы
.cache/
*.tmp
*.temp

# Настройки IDE
.idea/
.vscode/

# Секреты и ключи
*.env
.env.*